*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
font-size: 62.5%;
}

body{
    background-color:  rgb(3, 0, 31);
    color: white;
    font-family:' Poppin',sans-serif;
}

.App{
    min-height:100vh ;
    display: flex;
}

.sideBar{
    flex: 3;
    border-right:1px solid rgb(100, 100, 100) ;
}

.main{
    flex: 9;
}
.logo{
    margin-right: 1rem;

}

.brand{
    font-size: 2rem;
}
.uperSide{
    padding: 2rem;
    border-bottom: 1px solid rgb(100, 100, 100);
}

.addBtn{
    height:  2rem;
    padding-right: 1rem;
}
.midBtn{
    background-color: #5A4BFF;
    border: none;
    color: white;
    padding: 1.5rem;
    font-size: 1.5rem;
    width: 25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 3rem;
    border-radius: 0.5rem;
}
.query{
    display: flex;
    align-items: center;
    background: transparent;
    padding: 1.5rem;
    width: 25rem;
    margin: 1rem auto;
    color: rgb(222, 222, 222,1);
    border-radius: 0.5rem;
    border: 1px solid rgba(98, 98, 98, 1);

}

.listItems:nth-child(1)>.listItemsImg{
    margin-right: 0.5rem;
}
.listItems:nth-child(3)>.listItemsImg{
    margin-right: 0.75rem;
}
 .main{
    min-height: calc(100vh - 14rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:  6rem 10rem;
 }

.chatFooter{
    margin-top: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.inp{
    padding: 0.5rem;
    background-color: rgba(28, 30, 58, 1);
    display: flex;
    border-radius: 0.5rem;
    align-items: center ;
}
.inp>input{
    width: calc(100% -3rem);
    outline: none;
    padding: 1.25rem;
    margin-bottom: 0;
}
.chat{
    margin: 1rem;
    padding: 2rem  3rem;
    font-size: 1.2rem;
    display: flex;
    align-items:flex-start ;
    text-align: justify;
}
.chatImg{
    object-fit: cover;
    width: 3.5rem;
    margin-right: 2rem;
    border-radius: 0.5rem;
}
.chats{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    width:100% ;
    max-width: 70rem;
    height: calc(100vh - 17rem);


}
.chatFooter{
    margin-top: auto;
    width: 100%;
    display: flex;
}